src/MoviesRemember/MoviesRememberClient/Service References/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://movieapi.apphb.com/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://movieapi.apphb.com/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://movieapi.apphb.com/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesRememberDomain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserMovieList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMovieList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserMovieList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMovieListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUserAction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserAction" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUserAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserActionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersActions" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsersActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddNewMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMember" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddNewMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddMovie" message="tns:IUserService_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddMovieResponse" message="tns:IUserService_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteMovie" message="tns:IUserService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteMovieResponse" message="tns:IUserService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateMovie" message="tns:IUserService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateMovieResponse" message="tns:IUserService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMovieList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserMovieList" message="tns:IUserService_GetUserMovieList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserMovieListResponse" message="tns:IUserService_GetUserMovieList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUserAction" message="tns:IUserService_AddUserAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserActionResponse" message="tns:IUserService_AddUserAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsersActions" message="tns:IUserService_GetUsersActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersActionsResponse" message="tns:IUserService_GetUsersActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddNewMember" message="tns:IUserService_AddNewMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddNewMemberResponse" message="tns:IUserService_AddNewMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMovieList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserMovieList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserAction">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUserAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersActions">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUsersActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMember">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddNewMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://movieapi.apphb.com/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>