src/MoviesRemember/MoviesRememberClient/Service References/MoviesShowingService/MoviesShowingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoviesRememberDomain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoviesRememberDomain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TinyMovieList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentWeek" type="xs:int" />
      <xs:element minOccurs="0" name="GetMovieByWeek" nillable="true" type="tns:ArrayOfTinyMovie" />
      <xs:element minOccurs="0" name="NbWeek" type="xs:double" />
      <xs:element minOccurs="0" name="TinyMovies" nillable="true" type="tns:PagedListOfTinyMoviel_P5pM7zr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TinyMovieList" nillable="true" type="tns:TinyMovieList" />
  <xs:complexType name="ArrayOfTinyMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TinyMovie" nillable="true" type="tns:TinyMovie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTinyMovie" nillable="true" type="tns:ArrayOfTinyMovie" />
  <xs:complexType name="TinyMovie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApiId" type="xs:long" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="OriginalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PressRatings" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trailer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRatings" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TinyMovie" nillable="true" type="tns:TinyMovie" />
  <xs:complexType name="PagedListOfTinyMoviel_P5pM7zr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/MoviesRememberDomain" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TinyMovie" Namespace="http://schemas.datacontract.org/2004/07/MoviesRememberDomain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="EntityList" nillable="true" type="tns:ArrayOfTinyMovie" />
      <xs:element minOccurs="0" name="TotalPage" type="xs:int" />
      <xs:element minOccurs="0" name="TotalResult" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListOfTinyMoviel_P5pM7zr" nillable="true" type="tns:PagedListOfTinyMoviel_P5pM7zr" />
  <xs:complexType name="Movie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TinyMovie">
        <xs:sequence>
          <xs:element minOccurs="0" name="LinkList" nillable="true" type="tns:ArrayOfLink" />
          <xs:element minOccurs="0" name="Synopsis" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="ArrayOfLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="tns:Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLink" nillable="true" type="tns:ArrayOfLink" />
  <xs:complexType name="Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Link" nillable="true" type="tns:Link" />
</xs:schema>